/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* common styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

/* Influencer Journey section */

.container {
  margin-bottom: 100px;
}
.section-title {
  margin-left: 120px;
  margin-top: 87px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #3a3a3a;
}
.influencer-products {
  margin-left: 120px;
  display: flex;
  justify-content: space-between;
}

.journey {
  width: 582px;
  height: 270px;
}

h1 {
  font-size: 52px;
  color: #3a3a3a;
}
.journey-img img {
  width: 440px;
  height: 414px;
  border: 1px solid black;
  border-radius: 25px;
  margin-right: 120px;
}

/* transition */

.journey-img:hover .img {
  transform: scale(1.25);
  transition: transform 2s ease-in-out;
  overflow: hidden;
}
.journey a{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 0.5em;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 16px;

}
.preebook{
    width: 100em;
    height: 5em;
}
/* top products section */

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 120px;
}

/* font awsome style */
.font-awsome {
  color: #fb8200;
}

.see-more a {
  text-align: left;
  text-decoration: none;
    color:  #E02C6D;
    font-size: 18px;

}
/* Bonus Sign up section */

.order {
  margin-left: 120px;
  align-items: center;
  margin-bottom: 100px;
}

.order h2 p{
    font-size: 1.5em;
}

.order-now a{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 0.5em;

}
/* Footer section */

footer {
  margin-top: 100px;
  width: 1440px;
  height: 239px;
  background: #0a0826;
}

.footer {
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
  padding-right: 100px;
}

.footer h3 {
  font-size: 24px;
  color: #ffffff;
}


/* Responsive Style through Media Query */
  
    /* for mobile phone */
@media (max-width:600px) {
    .influencer-products {
  display: flex;
  flex-direction: column;
  
}

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
}

   /* for tablet */
@media (min-width:601 and max-width:1000px) {
    .influencer-products {
  display: flex;
  flex-direction: column;
  
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

/* for laptop and desktops */
@media (min-width:1001) {
    .influencer-products {
  display: flex;
  flex-direction: column;
  
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
    
